# Data Structure - 2
-  numpy

## Numpy 
-  similar to list, but items to be one type (so less memory required to store and manipulate) more functions available helps in matrix computations

In [4]:
#%% #numpy - array - same data type - numerical python
list1 = [1,2,3,5]
list1

[1, 2, 3, 5]

In [5]:
import numpy
print(numpy.array([10,20])) #list to numpy array
print(numpy.array([list1])) #list inside a list

[10 20]
[[1 2 3 5]]

In [6]:
import numpy as np #np is alias

In [8]:
np.arange(1,100,10)  #start, stop, setp

array([ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91])

In [10]:
#help(np.arange)

In [11]:
np1 = np.arange(1,10)
np1

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [12]:
x=np.arange(start=1,stop=1000000,step=2)  #very large number series
len(x)

500000

In [13]:
print(x[1:100])  # print from 1st position to 100th position
print()
print(x[1:50:10])  # print at interval of 10 starting 1st position to 50th position

[  3   5   7   9  11  13  15  17  19  21  23  25  27  29  31  33  35  37
  39  41  43  45  47  49  51  53  55  57  59  61  63  65  67  69  71  73
  75  77  79  81  83  85  87  89  91  93  95  97  99 101 103 105 107 109
 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145
 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181
 183 185 187 189 191 193 195 197 199]

[ 3 23 43 63 83]

In [14]:
print(np.mean(np.arange(1,10000000)))
#mean of np array of numbers from 1 to 10^7

5000000.0

In [15]:
print(type(np1))
print(dir(np1), sep ='\t')

<class 'numpy.ndarray'>
['T', '__abs__', '__add__', '__and__', '__array__', '__array_finalize__', '__array_function__', '__array_interface__', '__array_prepare__', '__array_priority__', '__array_struct__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__class_getitem__', '__complex__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dir__', '__divmod__', '__dlpack__', '__dlpack_device__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__ilshift__', '__imatmul__', '__imod__', '__imul__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__irshift__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lshift__', '__lt__', '__matmul__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__xor__', 'all', 'any', 'argmax', 'argmin', 'argpartition', 'argsort', 'astype', 'base', 'byteswap', 'choose', 'clip', 'compress', 'conj', 'conjugate', 'copy', 'ctypes', 'cumprod', 'cumsum', 'data', 'diagonal', 'dot', 'dtype', 'dump', 'dumps', 'fill', 'flags', 'flat', 'flatten', 'getfield', 'imag', 'item', 'itemset', 'itemsize', 'max', 'mean', 'min', 'nbytes', 'ndim', 'newbyteorder', 'nonzero', 'partition', 'prod', 'ptp', 'put', 'ravel', 'real', 'repeat', 'reshape', 'resize', 'round', 'searchsorted', 'setfield', 'setflags', 'shape', 'size', 'sort', 'squeeze', 'std', 'strides', 'sum', 'swapaxes', 'take', 'tobytes', 'tofile', 'tolist', 'tostring', 'trace', 'transpose', 'var', 'view']

In [17]:
#help(np)
#https://numpy.org/doc/stable/user/index.html

In [19]:
np2 = np.array([ 90, 50, 60, 70 ])
print(np2)
print('Sorted NP array ', np.sort(np2))

[90 50 60 70]
Sorted NP array  [50 60 70 90]

In [20]:
np3 = np.array([[1,4],[3,1],[5,6],[10,50]])
np3
#multi dim np array like matrix

array([[ 1,  4],
       [ 3,  1],
       [ 5,  6],
       [10, 50]])

In [22]:
print(np3.shape)   #rows, columns
print(np3.shape[0]) #rows
print(np3.shape[1]) #cols
x= np3.shape[0] * np3.shape[1]
print('No of elements ', x)

(4, 2)
4
2
No of elements  8

In [23]:
print(x%2 == 0)   #divisible by 2 : Even no of elements
print(x%3 == 0)   #divisible by 3
print(len(np3))   #no of rows

True
False
4

In [24]:
# change the shape of np array
np3.reshape((-1,1))  #1 column from 2 column
#np.reshape((-1, noCols))   # from any number of columns change to 1 columns

array([[ 1],
       [ 4],
       [ 3],
       [ 1],
       [ 5],
       [ 6],
       [10],
       [50]])

In [25]:
np3.reshape((-1))   # no columns

array([ 1,  4,  3,  1,  5,  6, 10, 50])

In [26]:
np3.reshape((-1,2))

array([[ 1,  4],
       [ 3,  1],
       [ 5,  6],
       [10, 50]])

In [28]:
#np3.reshape((-1,3))  #error
#cannot be converted to 3 columns as there are 8 elements and 8 is not divisible by 3

## Pandas
-  http://cs231n.github.io/python-numpy-tutorial/
-  pandas - dataframe, excel like 
-  https://mode.com/python-tutorial/pandas-dataframe/ 
-  https://pandas.pydata.org/pandas-docs/stable/
-

In [21]:
import pandas as pd
#https://pandas.pydata.org/

In [3]:
df1 = pd.DataFrame({'rollno':[1,2,3,4,5], 
                    'name': [ "Dhiraj", "Kounal", "Akhil", "Pooja","Disha" ], 
                    'marks':[ 40, 50, 60.5, 70, 93 ], 
                    'gender':['M', 'M','M', 'F', 'F']})
print(df1)  # dict format
type(df1)

   rollno    name  marks gender
0       1  Dhiraj   40.0      M
1       2  Kounal   50.0      M
2       3   Akhil   60.5      M
3       4   Pooja   70.0      F
4       5   Disha   93.0      F

pandas.core.frame.DataFrame

In [29]:
print('Column Names - ', df1.columns)  #column names
print('Index/ Row Names - ', df1.index)  #row ids/ names  - here auto created
print('Data Types -\n', df1.dtypes) #data types
print('Shape of DF(R-C) -', df1.shape)  # rows and columns

Column Names -  Index(['rollno', 'name', 'marks', 'gender'], dtype='object')
Index/ Row Names -  RangeIndex(start=0, stop=5, step=1)
Data Types -
 rollno      int64
name       object
marks     float64
gender     object
dtype: object
Shape of DF(R-C) - (5, 4)

In [30]:
print('Describe Values (Numerical)-\t  ')
df1.describe() #description of numerical values

Describe Values (Numerical)-

         rollno      marks
count  5.000000   5.000000
mean   3.000000  62.700000
std    1.581139  20.327322
min    1.000000  40.000000
25%    2.000000  50.000000
50%    3.000000  60.500000
75%    4.000000  70.000000
max    5.000000  93.000000

In [31]:
# Groupby Functions on DF
df1.groupby('gender').size()  # how many M, F

gender
F    2
M    3
dtype: int64