# Date Time
-  https://opensource.com/article/18/4/python-datetime-libraries

# date forms
-  20230716
-  2023-07-16
-  16-Jul-2023
-  2023.76423
-  2023-07-16T17:45:25Z

In [2]:
#libraries
import numpy as np
import pandas as pd
import datetime as dt

In [ ]:
#additional libraries
import dateutil
import Arrow

In [8]:
# datetime
import datetime as dt 
now = dt.datetime.now()
print(now)

2023-07-16 10:12:04.535594

In [9]:
print(now.strftime('%a'))  #day from date

Sun

In [41]:
#sampledates
d1= ''
d2 = '2023-07-16T10:30:25Z'

In [18]:
print(now.strftime('%a %A %w %U %W %d %j %m %b %B %y %Y  \n: \
%H %M %S : %I %f :\n %p %c %x %X \n %G %u %V'))

Sun Sunday 0 29 28 16 197 07 Jul July 23 2023
: 10 12 04 : 10 535594 :
 AM Sun Jul 16 10:12:04 2023 07/16/23 10:12:04
 2023 7 28

In [19]:
type(now)  #class

datetime.datetime

In [20]:
dt.datetime(2023,7,16)

datetime.datetime(2023, 7, 16, 0, 0)

In [22]:
dt.datetime(2023,7,16,10,25,30)

datetime.datetime(2023, 7, 16, 10, 25, 30)

In [29]:
dt.time(10, 25, 30, 999991)  #H, M, S, MS

datetime.time(10, 25, 30, 999991)

In [42]:
dt.datetime.strptime(d2, '%Y-%m-%dT%H:%M:%SZ')

datetime.datetime(2023, 7, 16, 10, 30, 25)

In [6]:
dt.datetime(2018, 4, 29, 17, 45, 25)

datetime.datetime(2018, 4, 29, 17, 45, 25)

#parse
-  dateutil module
-  https://dateutil.readthedocs.io/en/stable/

In [30]:
from dateutil.parser import parse

In [43]:
parse(d2)
#automatically return the string's time zone if it's included. 
#Since ours was in UTC, you can see that the datetime object returned that. If you want parse to ignore time zone information entirely and return a naive datetime object,
#you can pass the parameter ignoretz=True to parse

datetime.datetime(2023, 7, 16, 10, 30, 25, tzinfo=tzutc())

In [44]:
parse(d2, ignoretz=True)

datetime.datetime(2023, 7, 16, 10, 30, 25)

In [33]:
parse('Jul 16th, 2023 at 10:30 am')

datetime.datetime(2023, 7, 16, 10, 30)

# Arrow
-  Arrow is another library with the goal of making manipulating, formatting, and otherwise dealing with dates and times friendlier to humans. It includes dateutil and, according to its docs, aims to "help you work with dates and times with fewer imports and a lot less code."
-  https://github.com/crsmithdev/arrow
-  https://arrow.readthedocs.io/en/latest/

In [34]:
import arrow

In [45]:
arrow.get(d2)

In [46]:
arrow.get(d2).datetime

datetime.datetime(2023, 7, 16, 10, 30, 25, tzinfo=tzutc())

In [38]:
#its humanize() method translates datetimes into human-readable phrases, like
utc = arrow.utcnow()
utc.humanize()

'just now'

# Moment
-  Moment's creator considers it "alpha quality," but even though it's in early stages, it is well-liked and we wanted to mention it.

In [47]:
#!pip install moment
import moment

In [48]:
moment.date(d2)

In [50]:
moment.date(d2).date  #its own class

datetime.datetime(2023, 7, 16, 10, 30, 25, tzinfo=<StaticTzInfo 'Z'>)

In [51]:
moment.date('tomorrow')

In [52]:
moment.date("tomorrow").add(days=1)

## Maya
-  Maya includes other popular libraries that deal with datetimes in Python, including Humanize, pytz, and pendulum, among others. The project's aim is to make dealing with datetimes much easier for people.
-

In [54]:
#!pip install maya
import maya

In [55]:
maya.parse(d2)

In [56]:
maya.parse(d2).datetime()

datetime.datetime(2023, 7, 16, 10, 30, 25, tzinfo=<UTC>)

In [62]:
dt.timedelta(10)

datetime.timedelta(days=10)

In [63]:
maya.parse(now + dt.timedelta(20)).slang_time()

'in 3 weeks'

# Delorean
-  Delorean, named for the time-traveling car in the Back to the Future movies, is particularly helpful for manipulating datetimes: converting datetimes to other time zones and adding or subtracting time

In [65]:
#!pip install delorean

In [66]:
import maya
d_t = maya.parse(d2).datetime()
d_t

datetime.datetime(2023, 7, 16, 10, 30, 25, tzinfo=<UTC>)

In [69]:
from delorean import Delorean
d = Delorean(d_t)
d

Delorean(datetime=datetime.datetime(2023, 7, 16, 10, 30, 25), timezone='UTC')

In [72]:
d.shift('US/Eastern')

Delorean(datetime=datetime.datetime(2023, 7, 16, 6, 30, 25), timezone='US/Eastern')

In [74]:
d.next_friday()

Delorean(datetime=datetime.datetime(2023, 7, 21, 6, 30, 25), timezone='US/Eastern')

# Freezegun
-  Freezegun is a library that helps you test with specific datetimes in your Python code. Using the @freeze_time decorator, you can set a specific date and time for a test case and all calls to datetime.datetime.now(), datetime.datetime.utcnow(), etc. will return the date and time you specified.
-  https://github.com/spulec/freezegun

In [76]:
#!pip install freezegun

In [77]:
from freezegun import freeze_time
import datetime

In [80]:
@freeze_time("2023-07-17")
def test():
    assert datetime.datetime.now() == datetime.datetime(2023, 7, 16)

In [82]:
# understand more about this

In [83]:
## Timestamp

In [84]:
ts = pd.Timestamp(2023,7,16)
ts

Timestamp('2023-07-16 00:00:00')

In [85]:
ts.day

16

In [86]:
ts.day_of_week

6

In [87]:
ts.dayofweek

6

In [88]:
ts.day_of_year

197

In [89]:
ts.days_in_month

31

In [90]:
ts.daysinmonth

31

In [91]:
ts.fold

0

In [92]:
ts.hour

0

In [93]:
ts.is_month_end

False

In [95]:
pd.Timestamp(2023,7,31).is_month_end

True

In [96]:
pd.Timestamp(2023,7,1).is_month_start

True

In [99]:
pd.Timestamp(2023,7,1).is_quarter_start

True

In [101]:
pd.Timestamp(2023,6,30).is_quarter_end

True

In [102]:
pd.Timestamp(2023,12,31).is_year_end

True

In [103]:
pd.Timestamp(2023,1,1).is_year_start

True

In [104]:
ts.minute

0

In [105]:
ts.month

7

In [106]:
ts.year

2023

In [107]:
ts.quarter

3

In [108]:
ts.tz

In [113]:
#ts.as_unit('ms')

In [114]:
ts.date()

datetime.date(2023, 7, 16)

In [115]:
ts.day_name()

'Sunday'

In [116]:
ts.isoformat()

'2023-07-16T00:00:00'

In [117]:
ts.isoformat(timespec='microseconds')

'2023-07-16T00:00:00.000000'

In [118]:
ts.month_name()

'July'

In [120]:
ts.floor(freq='H')

Timestamp('2023-07-16 00:00:00')

In [126]:
ts.floor(freq='1H20T') #hour, minute

Timestamp('2023-07-16 00:00:00')

In [128]:
ts.ctime() #string

'Sun Jul 16 00:00:00 2023'

In [129]:
ts.to_pydatetime()

datetime.datetime(2023, 7, 16, 0, 0)

In [130]:
ts.today()

Timestamp('2023-07-16 11:33:15.849660')

In [132]:
ts.toordinal()  #day1 is jan1

738717

In [135]:
import pytz

In [136]:
IST = pytz.timezone('Asia/Kolkata')

In [138]:
dt.datetime.now(IST)

datetime.datetime(2023, 7, 16, 11, 36, 19, 745137, tzinfo=<DstTzInfo 'Asia/Kolkata' IST+5:30:00 STD>)

In [141]:
#ts.tz_convert(tz='Asia/Kolkata')

In [155]:
ts2 = pd.Timestamp('2023-07-16T11:00:52.192548651')
ts2

Timestamp('2023-07-16 11:00:52.192548651')

In [153]:
ts2.tz_localize(tz='Europe/Stockholm')

Timestamp('2023-07-16 11:00:52.192548651+0200', tz='Europe/Stockholm')

In [154]:
ts2.tz_localize(tz='Asia/Kolkata')

Timestamp('2023-07-16 11:00:52.192548651+0530', tz='Asia/Kolkata')

In [156]:
ts2.tzname()

In [165]:
#pd.fromtimestamp(pd.Timestamp(1584199972,'UTC'))

In [166]:
ts2.utctimetuple()

time.struct_time(tm_year=2023, tm_mon=7, tm_mday=16, tm_hour=11, tm_min=0, tm_sec=52, tm_wday=6, tm_yday=197, tm_isdst=0)

In [173]:
ts + pd.Timedelta(value=10, unit='d')

Timestamp('2023-07-26 00:00:00')

In [177]:
(ts + pd.Timedelta(value=10, unit='d').ceil(freq='D'))
#??

Timestamp('2023-07-26 00:00:00')

In [178]:
td = pd.Timedelta('2 day 4 min 3 us 42 ns')
td.components

Components(days=2, hours=0, minutes=4, seconds=0, milliseconds=0, microseconds=3, nanoseconds=42)

# more here
-  https://pandas.pydata.org/docs/reference/api/pandas.Float64Dtype.html

In [188]:
import datetime as dt
import pandas as pd
', '.join(dir(dt))

'MAXYEAR, MINYEAR, __all__, __builtins__, __cached__, __doc__, __file__, __loader__, __name__, __package__, __spec__, date, datetime, datetime_CAPI, sys, time, timedelta, timezone, tzinfo'

In [185]:
', '.join(dir(dt.datetime))

'__add__, __class__, __delattr__, __dir__, __doc__, __eq__, __format__, __ge__, __getattribute__, __gt__, __hash__, __init__, __init_subclass__, __le__, __lt__, __ne__, __new__, __radd__, __reduce__, __reduce_ex__, __repr__, __rsub__, __setattr__, __sizeof__, __str__, __sub__, __subclasshook__, astimezone, combine, ctime, date, day, dst, fold, fromisocalendar, fromisoformat, fromordinal, fromtimestamp, hour, isocalendar, isoformat, isoweekday, max, microsecond, min, minute, month, now, replace, resolution, second, strftime, strptime, time, timestamp, timetuple, timetz, today, toordinal, tzinfo, tzname, utcfromtimestamp, utcnow, utcoffset, utctimetuple, weekday, year'

In [186]:
', '.join(dir(dt.date))

'__add__, __class__, __delattr__, __dir__, __doc__, __eq__, __format__, __ge__, __getattribute__, __gt__, __hash__, __init__, __init_subclass__, __le__, __lt__, __ne__, __new__, __radd__, __reduce__, __reduce_ex__, __repr__, __rsub__, __setattr__, __sizeof__, __str__, __sub__, __subclasshook__, ctime, day, fromisocalendar, fromisoformat, fromordinal, fromtimestamp, isocalendar, isoformat, isoweekday, max, min, month, replace, resolution, strftime, timetuple, today, toordinal, weekday, year'

In [187]:
', '.join(dir(dt.time))

'__class__, __delattr__, __dir__, __doc__, __eq__, __format__, __ge__, __getattribute__, __gt__, __hash__, __init__, __init_subclass__, __le__, __lt__, __ne__, __new__, __reduce__, __reduce_ex__, __repr__, __setattr__, __sizeof__, __str__, __subclasshook__, dst, fold, fromisoformat, hour, isoformat, max, microsecond, min, minute, replace, resolution, second, strftime, tzinfo, tzname, utcoffset'

In [189]:
', '.join(dir(pd))

'ArrowDtype, BooleanDtype, Categorical, CategoricalDtype, CategoricalIndex, DataFrame, DateOffset, DatetimeIndex, DatetimeTZDtype, ExcelFile, ExcelWriter, Flags, Float32Dtype, Float64Dtype, Float64Index, Grouper, HDFStore, Index, IndexSlice, Int16Dtype, Int32Dtype, Int64Dtype, Int64Index, Int8Dtype, Interval, IntervalDtype, IntervalIndex, MultiIndex, NA, NaT, NamedAgg, Period, PeriodDtype, PeriodIndex, RangeIndex, Series, SparseDtype, StringDtype, Timedelta, TimedeltaIndex, Timestamp, UInt16Dtype, UInt32Dtype, UInt64Dtype, UInt64Index, UInt8Dtype, __all__, __builtins__, __cached__, __deprecated_num_index_names, __dir__, __doc__, __docformat__, __file__, __getattr__, __git_version__, __loader__, __name__, __package__, __path__, __spec__, __version__, _config, _is_numpy_dev, _libs, _testing, _typing, _version, annotations, api, array, arrays, bdate_range, compat, concat, core, crosstab, cut, date_range, describe_option, errors, eval, factorize, from_dummies, get_dummies, get_option, infer_freq, interval_range, io, isna, isnull, json_normalize, lreshape, melt, merge, merge_asof, merge_ordered, notna, notnull, offsets, option_context, options, pandas, period_range, pivot, pivot_table, plotting, qcut, read_clipboard, read_csv, read_excel, read_feather, read_fwf, read_gbq, read_hdf, read_html, read_json, read_orc, read_parquet, read_pickle, read_sas, read_spss, read_sql, read_sql_query, read_sql_table, read_stata, read_table, read_xml, reset_option, set_eng_float_format, set_option, show_versions, test, testing, timedelta_range, to_datetime, to_numeric, to_pickle, to_timedelta, tseries, unique, util, value_counts, wide_to_long'

In [190]:
pd.to_datetime(1490195805, unit='s')

Timestamp('2017-03-22 15:16:45')

In [191]:
pd.to_datetime(1490195805433502912, unit='ns')

Timestamp('2017-03-22 15:16:45.433502912')

In [192]:
pd.to_datetime([1, 2, 100, 197], unit='D',  origin=pd.Timestamp('2023-01-01'))

DatetimeIndex(['2023-01-02', '2023-01-03', '2023-04-11', '2023-07-17'], dtype='datetime64[ns]', freq=None)

In [194]:
pd.to_datetime([20230101, 20230415,20230717], format='%Y%m%d')

DatetimeIndex(['2023-01-01', '2023-04-15', '2023-07-17'], dtype='datetime64[ns]', freq=None)

In [195]:
pd.to_datetime([202301010555, 202304151015,202307171145], format='%Y%m%d%H%M')

DatetimeIndex(['2023-01-01 05:55:00', '2023-04-15 10:15:00',
               '2023-07-17 11:45:00'],
              dtype='datetime64[ns]', freq=None)

In [196]:
pd.to_datetime([202301010555, 202304151015,202307171145], infer_datetime_format=True)

DatetimeIndex(['1970-01-01 00:03:22.301010555',
               '1970-01-01 00:03:22.304151015',
               '1970-01-01 00:03:22.307171145'],
              dtype='datetime64[ns]', freq=None)

In [197]:
now = datetime.datetime.now()
now

datetime.datetime(2023, 7, 16, 12, 7, 24, 187265)

In [199]:
int(now.strftime("%Y%m%d%H%M%S"))

20230716120724

In [210]:
now.timestamp()

1689489444.187265

In [214]:
pd.Timestamp(now).day_of_year

197

In [209]:
pd.Timestamp(now).day_of_year

197

In [216]:
dtFloat1 = now.year + (pd.Timestamp(now).day_of_year - 1)/365
dtFloat1

2023.5369863013698

In [217]:
int(dtFloat1)

2023

In [218]:
frac = dtFloat1 % 1
frac

0.5369863013697795

In [221]:
dtFloat1 - int(dtFloat1)

0.5369863013697795

In [226]:
#float to date
year = int(dtFloat1)
day = round((dtFloat1 %1) * 365 + 1)
print(year, day)

2023 197

In [231]:
dt.date(int(year), 1, 1)

datetime.date(2023, 1, 1)

In [233]:
dt.timedelta(days=int(day))

datetime.timedelta(days=197)

In [236]:
newDate = dt.date(int(year), 1, 1)  + dt.timedelta(days=int(day))
newDate

datetime.date(2023, 7, 17)

In [245]:
pd.to_datetime(newDate).date()

datetime.date(2023, 7, 17)

## from built in datasets

In [355]:
from pydataset import data
airp= data('AirPassengers')
airp.head()

          time  AirPassengers
1  1949.000000            112
2  1949.083333            118
3  1949.166667            132
4  1949.250000            129
5  1949.333333            121

In [356]:
airp.dtypes

time             float64
AirPassengers      int64
dtype: object

In [357]:
airp['year'] = airp['time'].astype(int)
airp.head()

          time  AirPassengers  year
1  1949.000000            112  1949
2  1949.083333            118  1949
3  1949.166667            132  1949
4  1949.250000            129  1949
5  1949.333333            121  1949

In [358]:
airp['day'] = airp['time'].apply(lambda x: (x % 1) * 365 + 1).round().astype(int)
airp.head()

          time  AirPassengers  year  day
1  1949.000000            112  1949    1
2  1949.083333            118  1949   31
3  1949.166667            132  1949   62
4  1949.250000            129  1949   92
5  1949.333333            121  1949  123

In [359]:
def dayToDate(C1, C2):    return dt.date(int(C1),1,1) + dt.timedelta(int(C2))

In [360]:
dayToDate(1949,31)

datetime.date(1949, 2, 1)

In [361]:
airp.head()

          time  AirPassengers  year  day
1  1949.000000            112  1949    1
2  1949.083333            118  1949   31
3  1949.166667            132  1949   62
4  1949.250000            129  1949   92
5  1949.333333            121  1949  123

In [362]:
airp.dtypes

time             float64
AirPassengers      int64
year               int32
day                int32
dtype: object

In [363]:
airp['cDate'] = airp.apply(lambda row: dayToDate(row['year'], row['day']), axis=1)
airp.head()

          time  AirPassengers  year  day       cDate
1  1949.000000            112  1949    1  1949-01-02
2  1949.083333            118  1949   31  1949-02-01
3  1949.166667            132  1949   62  1949-03-04
4  1949.250000            129  1949   92  1949-04-03
5  1949.333333            121  1949  123  1949-05-04

In [364]:
airp.dtypes

time             float64
AirPassengers      int64
year               int32
day                int32
cDate             object
dtype: object

In [365]:
#airp['fDate']= pd.to_datetime(airp['cDate']).dt.date
airp['fDate']= pd.to_datetime(airp['cDate']).dt.normalize()

In [366]:
airp.dtypes

time                    float64
AirPassengers             int64
year                      int32
day                       int32
cDate                    object
fDate            datetime64[ns]
dtype: object

In [367]:
airp['cDate'].apply(lambda x: x.strftime('%Y-%b')).head()

1    1949-Jan
2    1949-Feb
3    1949-Mar
4    1949-Apr
5    1949-May
Name: cDate, dtype: object

In [368]:
airp.dtypes

time                    float64
AirPassengers             int64
year                      int32
day                       int32
cDate                    object
fDate            datetime64[ns]
dtype: object

In [369]:
airp.head()

          time  AirPassengers  year  day       cDate      fDate
1  1949.000000            112  1949    1  1949-01-02 1949-01-02
2  1949.083333            118  1949   31  1949-02-01 1949-02-01
3  1949.166667            132  1949   62  1949-03-04 1949-03-04
4  1949.250000            129  1949   92  1949-04-03 1949-04-03
5  1949.333333            121  1949  123  1949-05-04 1949-05-04

In [396]:
airp.fDate.dt.month_name().head()

1     January
2    February
3       March
4       April
5         May
Name: fDate, dtype: object

In [399]:
airp.fDate.dt.strftime('%b').head()

1    Jan
2    Feb
3    Mar
4    Apr
5    May
Name: fDate, dtype: object

In [415]:
print(pd.concat([airp.fDate.dt.year, airp.fDate.dt.month],axis=1).head())

   fDate  fDate
1   1949      1
2   1949      2
3   1949      3
4   1949      4
5   1949      5

In [417]:
#pd.Period(value=airp['fDate'], freq='M')

In [414]:
data('airquality').head()

   Ozone  Solar.R  Wind  Temp  Month  Day
1   41.0    190.0   7.4    67      5    1
2   36.0    118.0   8.0    72      5    2
3   12.0    149.0  12.6    74      5    3
4   18.0    313.0  11.5    62      5    4
5    NaN      NaN  14.3    56      5    5

# Using Calendar Module

In [412]:
import calendar
from datetime import datetime

dob = datetime(1994, 8, 14)
print('DateTime:', dob)

# get month number
num = dob.month
print('Month Number:', num)

# month number to month name
fn = calendar.month_name[num]
print('Month full name is:', fn)

DateTime: 1994-08-14 00:00:00
Month Number: 8
Month full name is: August

In [420]:
# Create dict object
student_dict = {"name": ["Joe", "Nat", "Harry"], "join_month": [8, 4, 11]}
# Create DataFrame from dict
df = pd.DataFrame(student_dict)
# get months name
month_names = df['join_month'].apply(lambda x: calendar.month_name[x])
# replace column join_month
df['join_monthName'] = month_names
print('Student Details')
print(df)

Student Details
    name  join_month join_monthName
0    Joe           8         August
1    Nat           4          April
2  Harry          11       November