# Data Structure - 3
-  pandas

## Pandas
-  http://cs231n.github.io/python-numpy-tutorial/
-  pandas - dataframe, excel like 
-  https://mode.com/python-tutorial/pandas-dataframe/ 
-  https://pandas.pydata.org/pandas-docs/stable/
-

In [21]:
import pandas as pd
#https://pandas.pydata.org/

In [3]:
df1 = pd.DataFrame({'rollno':[1,2,3,4,5], 
                    'name': [ "Dhiraj", "Kounal", "Akhil", "Pooja","Disha" ], 
                    'marks':[ 40, 50, 60.5, 70, 93 ], 
                    'gender':['M', 'M','M', 'F', 'F']})
print(df1)  # dict format
type(df1)

   rollno    name  marks gender
0       1  Dhiraj   40.0      M
1       2  Kounal   50.0      M
2       3   Akhil   60.5      M
3       4   Pooja   70.0      F
4       5   Disha   93.0      F

pandas.core.frame.DataFrame

In [29]:
print('Column Names - ', df1.columns)  #column names
print('Index/ Row Names - ', df1.index)  #row ids/ names  - here auto created
print('Data Types -\n', df1.dtypes) #data types
print('Shape of DF(R-C) -', df1.shape)  # rows and columns

Column Names -  Index(['rollno', 'name', 'marks', 'gender'], dtype='object')
Index/ Row Names -  RangeIndex(start=0, stop=5, step=1)
Data Types -
 rollno      int64
name       object
marks     float64
gender     object
dtype: object
Shape of DF(R-C) - (5, 4)

In [30]:
print('Describe Values (Numerical)-\t  ')
df1.describe() #description of numerical values

Describe Values (Numerical)-

         rollno      marks
count  5.000000   5.000000
mean   3.000000  62.700000
std    1.581139  20.327322
min    1.000000  40.000000
25%    2.000000  50.000000
50%    3.000000  60.500000
75%    4.000000  70.000000
max    5.000000  93.000000

In [31]:
# Groupby Functions on DF
df1.groupby('gender').size()  # how many M, F

gender
F    2
M    3
dtype: int64