# HR Analytics Case Study
-  Data represent fictitious/fake data on terminations. For each of 10 years it show employees that are active and those that terminated.
-  The intent is to see if individual terminations can be predicted from the data provided.
-  The thing to be predicted is status of active or terminated

-  https://www.kaggle.com/datasets/HRAnalyticRepository/employee-attrition-data
-  https://www.kaggle.com/datasets/HRAnalyticRepository/employee-attrition-data/code

In [4]:
#libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pydataset import data

In [7]:
#other libraries if required

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE

In [8]:
#data
dataLink = 'E:/analytics/data/hr/MFG10YearTerminationData.csv'
df = pd.read_csv(dataLink)
print(df.head())
print(df.shape)

   EmployeeID   recorddate_key birthdate_key orighiredate_key  \
0        1318  12/31/2006 0:00      1/3/1954        8/28/1989
1        1318  12/31/2007 0:00      1/3/1954        8/28/1989
2        1318  12/31/2008 0:00      1/3/1954        8/28/1989
3        1318  12/31/2009 0:00      1/3/1954        8/28/1989
4        1318  12/31/2010 0:00      1/3/1954        8/28/1989

  terminationdate_key  age  length_of_service  city_name department_name  \
0            1/1/1900   52                 17  Vancouver       Executive
1            1/1/1900   53                 18  Vancouver       Executive
2            1/1/1900   54                 19  Vancouver       Executive
3            1/1/1900   55                 20  Vancouver       Executive
4            1/1/1900   56                 21  Vancouver       Executive

  job_title  store_name gender_short gender_full termreason_desc  \
0       CEO          35            M        Male  Not Applicable
1       CEO          35            M        Male  Not Applicable
2       CEO          35            M        Male  Not Applicable
3       CEO          35            M        Male  Not Applicable
4       CEO          35            M        Male  Not Applicable

    termtype_desc  STATUS_YEAR  STATUS BUSINESS_UNIT
0  Not Applicable         2006  ACTIVE    HEADOFFICE
1  Not Applicable         2007  ACTIVE    HEADOFFICE
2  Not Applicable         2008  ACTIVE    HEADOFFICE
3  Not Applicable         2009  ACTIVE    HEADOFFICE
4  Not Applicable         2010  ACTIVE    HEADOFFICE
(49653, 18)

In [10]:
#understand
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49653 entries, 0 to 49652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeID           49653 non-null  int64
 1   recorddate_key       49653 non-null  object
 2   birthdate_key        49653 non-null  object
 3   orighiredate_key     49653 non-null  object
 4   terminationdate_key  49653 non-null  object
 5   age                  49653 non-null  int64
 6   length_of_service    49653 non-null  int64
 7   city_name            49653 non-null  object
 8   department_name      49653 non-null  object
 9   job_title            49653 non-null  object
 10  store_name           49653 non-null  int64
 11  gender_short         49653 non-null  object
 12  gender_full          49653 non-null  object
 13  termreason_desc      49653 non-null  object
 14  termtype_desc        49653 non-null  object
 15  STATUS_YEAR          49653 non-null  int64
 16  STATUS               49653 non-null  object
 17  BUSINESS_UNIT        49653 non-null  object
dtypes: int64(5), object(13)
memory usage: 6.8+ MB

In [11]:
df.drop(['EmployeeID', 'birthdate_key', 'recorddate_key', 'gender_full'], axis=1, inplace=True)
#remove not required cols

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49653 entries, 0 to 49652
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   orighiredate_key     49653 non-null  object
 1   terminationdate_key  49653 non-null  object
 2   age                  49653 non-null  int64
 3   length_of_service    49653 non-null  int64
 4   city_name            49653 non-null  object
 5   department_name      49653 non-null  object
 6   job_title            49653 non-null  object
 7   store_name           49653 non-null  int64
 8   gender_short         49653 non-null  object
 9   termreason_desc      49653 non-null  object
 10  termtype_desc        49653 non-null  object
 11  STATUS_YEAR          49653 non-null  int64
 12  STATUS               49653 non-null  object
 13  BUSINESS_UNIT        49653 non-null  object
dtypes: int64(4), object(10)
memory usage: 5.3+ MB

In [15]:
df.city_name.unique()

array(['Vancouver', 'Terrace', 'Nanaimo', 'Nelson', 'Kelowna', 'Victoria',
       'Kamloops', 'Fort St John', 'Surrey', 'Vernon', 'Quesnel',
       'Chilliwack', 'Dawson Creek', 'Squamish', 'New Westminster',
       'Port Coquitlam', 'Cortes Island', 'Burnaby', 'Bella Bella',
       'Cranbrook', 'Williams Lake', 'Trail', 'Prince George', 'Richmond',
       'Grand Forks', 'West Vancouver', 'Abbotsford', 'Aldergrove',
       'Langley', 'North Vancouver', 'White Rock', 'New Westminister',
       'Fort Nelson', 'Haney', 'Valemount', 'Ocean Falls', 'Princeton',
       'Dease Lake', 'Pitt Meadows', 'Blue River'], dtype=object)

In [8]:
#clean

In [9]:
#visualise

In [10]:
#model

In [11]:
#evalulate

In [12]:
#conclude

In [ ]:
#Links